<!--variable binding -->
<!-- <h1 class="color">{{title}}</h1>
<h1>{{count}}</h1>
<h1 *ngIf="count > 0">I am visible if I am greater than 0</h1> -->

<!-- onclick event -->
<!-- <button (click)="decreaseCount()">Decrement</button>
<button (click)="increaseCount()">Increment</button> -->

<!-- ngFor is used here to implement for loop and display all the numbers in the app.component.ts file -->
<!-- <li *ngFor="let number of listOfNumbers">{{number}}</li> 
<h1>Create an array of strings and display it in a list</h1>
<ol>
  <li *ngFor="let name of listOfNames">{{name}}</li>
</ol> -->

<!-- 2 way binding -->
<!-- <input type="text" [(ngModel)]="title">
<br> -->
<!-- <div id="calculator">
  <h1>My calculator</h1>
  <input type="number" [(ngModel)]="num1">
  <input type="number" [(ngModel)]="num2">
  <h2>Answer: {{value}}</h2>
  <h4>Select an operator</h4>
  <div class="operators">
    <button (click)="addNumbers()" class="operator-buttons">+</button>
    <button (click)="subtractNumbers()" class="operator-buttons">-</button>
    <button (click)="multiplyNumbers()" class="operator-buttons">*</button>
    <button (click)="divideNumbers()" class="operator-buttons">/</button>
  </div>
</div> -->

<!-- <h1>Todo List App</h1>

<input type="text" [(ngModel)] = "todoItem">
<p>{{todoItem}}</p>
<button (click)="addToTodoList()">Add to Todo List</button>

<li *ngFor="let myTodoItem of todoList">{{myTodoItem}}</li> -->

<!-- <app-todo></app-todo>
  <app-joke></app-joke> -->
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
  <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>
  
<div class="demo-section">
  Button with a badge on the left!
  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</div>